.form {
  display: flex;
  flex-direction: column;    
  padding: 2rem;
  width: 100%;
  border-radius: 0.5rem;
}

.form-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  position: relative;
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #42b4ca;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.submit:hover {
  background-color: #2ca9c2;
}

.signup-link {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  margin-bottom: 10px;
}

.signup-link a {
  text-decoration: underline;
}

.linkDecoration {
  color: #080809;
  font-weight: 500;
}

.error {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 6px;
  background-color: #f7a4a4;
  color: #a10000;
}

.emailTest{
  display: flex;
  justify-content: center;
  padding: 5px;
}

.emailTest:hover{
  background-color: #42b3ca25;
  padding: 5px;
  border-radius: 7px;
}
